body{

    margin:0;

    padding:0;

    font-family: Arial, sans-serif;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5d1f28;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8b2d3b;
}

.hero{

    background-image: url("aro.jpg");

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}
.hero h1{

    color:rgb(200, 168, 123);

    font-size:60px;

}
.hero h3{

    color:rgb(14, 12, 9);

}
.hero p{

    color:rgb(200, 158, 123);

    font-size:18px;

}
.hero button{

    padding:15px 25px;

    font-size:18px;

    background-color:#8a3a46;

    color:rgb(200, 153, 123);

    border:none;

    cursor:pointer;

}
.hero button:hover{

    background-color:#8b2d3b;

}

